.navbar {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.link {
    background-color: #3d6121;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}


/* MEDIA QUERY TABLET */
@media (min-width: 576px) and (max-width: 991px) {
    .navbar {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 20px 0;
    }
}


/* MEDIA QUERY MOBILE */
@media (max-width: 575px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
    }

    .link {
        width: 80%;
        font-size: 14px;
        padding: 8px 12px;
    }
}