* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

a {
    text-decoration: none;
}