.container_jumbo {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
}

.jumbo {

    border: 1px solid #3d6121;
    padding: 20px;
    width: 85%;
    border-radius: 30px;
}

/* CONTENITORE PRINCIPALE DELLA LISTA PIANTE */
.container_plant {
    margin-top: 4%;
    text-align: center;
    font-size: 40px;
}



/* CONTENITORE RICERCA E CATEGORIE */
.container_search {
    display: flex;
    justify-content: space-evenly;
    background-color: #5f844256;

}



/* CONTENITORE LISTA PIANTE */
.container_record {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 3%;


}

.record {
    text-align: center;
    font-size: 30px;
    width: 25%;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #3d6121;
}

.record img {
    margin-top: 3px;
    border-radius: 30px;

}


.title_plant {
    color: #5F8442;
    font-weight: 800;
    font-size: 50px;
}

.font_category {
    text-align: center;
    font-size: 25px;
    margin-bottom: 3px;
    font-weight: 100;
}

.button_detail {
    padding: 5px 15px;
    background-color: #5F8442;
    border-radius: 30px;
    color: white
}


/* SEZIONE CATEGORIE */
.container_category {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2%;
    padding: 20px;
    background-color: #3d6121;
    border-radius: 20px;
    max-height: 30px;
    font-weight: 500;
    color: white;
    border: 3px solid white;
}

.container_category label {
    font-size: 20px;

}

.container_category select {
    padding: 2%;
    font-size: 15px;
    border-radius: 5px;

}

/* SEZIONE ORDINAMENTO */
.container_sort {
    border: 3px solid white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2%;
    padding: 20px;
    background-color: #3d6121;
    border-radius: 20px;
    max-height: 30px;
    font-weight: 500;
    color: white;

}

.container_sort label {
    font-size: 20px;
}

.container_sort select {
    padding: 2%;
    font-size: 15px;
    border-radius: 5px;
}


/* SEZIONE PREFERITI */
.button_like {
    display: flex;
    justify-content: end;
    gap: 10px;



}


.button_fav {
    font-size: 25px;
    background: none;
    border: none;

}